<% @list_of_items.each do |item| %>
<h3> <%= item.name %> </h3>
<p> <%= item.description %> </p>
<p> £<%= item.price %> / night </p>
<div>
    <h5> Contact:</h5>
    <p> Email: <%= item.email_address %></p>
    <p> Phone: <%= item.phone_number %></p>
</div>
<% end %>
