<form action="/spaces" method='get'>
  <input type="submit" value="Back to All Spaces" id="spaces">
</form>

<form action="/add_space" method='get'>
  <input type="submit" value="Add another space" id="add_space">
</form>

<h1>Here is the list of your spaces</h1>

<% @user.spaces.each do |space| %>
  <% user = User.find(space.user_id)%>
  <h3> <%= space.name %> </h3>
  <p> <%= space.description %> </p>
  <p> £<%= space.price %> / night </p>
  <ul>
<<<<<<< HEAD

  <form action="/my_spaces<%= space.user_id %>" method="post">
=======
  <form action="/my_spaces/<%= space.id %>" method="post">
>>>>>>> 1eba41434e8a97c557d8798fe62cb3817ef4cb4e
    <input type='hidden' name='_method' value='DELETE'/>
    <input type="submit" value="Delete" />
  </form>

  <form action="/my_spaces<%= space.user_id %>/edit_space" method="get">
    <input type="submit" value="Edit" />
  </form>

<% end %>
